<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url  'update' ko.s_no %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" value="{{ko.name}}">
        <input type="text" name="mail" value="{{ko.email}}">
        <input type="text" name="course" value="{{ko.course}}">        
        <input type="submit">

    </form>
    <a href="{% url 'home' %}">home</a>
</body>
</html>